*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --bg-01: #e5c78e;
    --bg-02: #6b7a7c;
    --rc-03: #ffe39d;
    --lt-01: black;

    --mu-01: 80px;
    --mu-02: 24px;
    --pd-01: 500px;
    --pd-02: 600px;
    --pd-03: 24px;
    --pd-04: 16px;

    --rd-01: 16px;
}
body.-light{
    --bg-01: #e5c78e;
    --bg-02: #c5dadd;
    --rc-03: #50462e;
    background-image: url(webb-light.png);
    --lt-01: black;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(webb-dark.png);
    color: var(--lt-01);
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
main{
    flex-grow: 1;
}
.home{
    display: flex;
    flex-flow: row;
    margin-top: var(--mu-01);
}
.home-header{
    background-color: var(--bg-01);
    padding: 40px;

    display: flex;
    justify-content: space-between;
}
button{
    padding: var(--pd-04);
    border-color: var(--rc-03);

    border-style: solid;
    border-radius: var(--rd-01);
    cursor: pointer;
    transition: 0.7s ease all;
}
button:hover{
    background-color: var(--bg-01);
}
.about{
    background-color: var(--bg-02);

    display: flex;
    flex-flow: column;

    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    width: 30%;
    height: 500px;

    border-style: solid;
    border-radius: var(--rd-01);
    border-color: var(--rc-03);
}
.projects{
    background-color: var(--bg-02);

    display: flex;
    flex-flow: column;

    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    width: 30%;
    height: var(--pd-01);

    border-style: solid;
    border-radius: var(--rd-01);
    border-color: var(--rc-03);    
}
.works{
    background-color: var(--bg-02);

    display: flex;
    flex-flow: column;

    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    width: 30%;
    height: 500px;

    border-style: solid;
    border-radius: var(--rd-01);
    border-color: var(--rc-03);  
}
.info{
    background-color: var(--bg-01);
}
.header-title{
    margin: var(--mu-02);

    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    margin: var(--mu-02);

    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    padding: var(--mu-02);
}
