*{
    box-sizing: border-box;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(webb-dark.png);
    color: black;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --bg-01: #e5c78e;
    --bg-02: #6b7a7c;
    --rc-03: #ffe39d;
    --fg: #000;
    --hl: #91dcd8;
    --danger: red;

    --mu-01: 80px;
    --mu-02: 24px;
    --pd-01: 500px;
    --pd-02: 600px;

    --rd-01: 16px;
    --rd-02: 50%;
}
main{
    flex-grow: 1;
}
.home{
    display: flex;
    flex-flow: row;
    margin-top: var(--mu-01);
}
.home-header{
    background-color: var(--bg-01);
    padding: 40px;
}
.about{
    background-color: var(--bg-02);

    display: flex;
    flex-flow: column;

    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    width: 50%;
    height: var(--pd-02);

    border-style: solid;
    border-radius: var(--rd-01);
    border-color: var(--rc-03);
}
.header-title{
    margin: var(--mu-02);

    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-radius: var(--rd-02);
    border-color: var(--rc-03);
}
.me-info{
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    background-color: var(--bg-01);
}
#footer{
    padding: var(--mu-02);
}
.page-index{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;

    list-style: none;
}
